<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="f9c5b7">  <td>22/06/27 11:45:03</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;OVD_Streaming_Catalog.afterMethod(org.testng.ITestResult)[pri:0, instance:testcases.OVD_Streaming_Catalog@f736069]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1392794732</td>   <td></td> </tr>
<tr bgcolor="f9c5b7">  <td>22/06/27 11:44:57</td>   <td>-5945</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;OVD_Streaming_Catalog.beforeMethod(org.testng.ITestResult)[pri:0, instance:testcases.OVD_Streaming_Catalog@f736069]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1392794732</td>   <td></td> </tr>
<tr bgcolor="f9c5b7">  <td>22/06/27 11:44:58</td>   <td>-4373</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="OVD_Streaming_Catalog.noAPIKeyValue_Validation()[pri:0, instance:testcases.OVD_Streaming_Catalog@f736069]">noAPIKeyValue_Validation</td> 
  <td>main@1392794732</td>   <td></td> </tr>
</table>
